{% extends 'base.html' %}

{% block content %}
<!-- Supplier Section -->
<div class="mb-4">
    <div class="card p-3">
        <div class="d-flex justify-content-between mb-3">
            <h6>Suppliers</h6>
            <div>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary btn-sm me-2" data-bs-toggle="modal"
                    data-bs-target="#addSupplierModal">
                    Add Supplier
                </button>
            </div>
        </div>

        <!-- Suppliers Table -->
        <table class="table table-striped">
            <thead class="table-light">
                <tr>
                    <th>Name</th>
                    <th>Contact</th>
                </tr>
            </thead>
            <tbody>
                {% for supplier in suppliers %}
                <tr>
                    <td>{{ supplier.name }}</td>
                    <td>{{ supplier.contact }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addSupplierModal" tabindex="-1" aria-labelledby="addSupplierModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title">Add Supplier</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="supplierName" class="form-label">Name</label>
                        <input type="text" class="form-control" id="supplierName" name="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="supplierContact" class="form-label">Contact</label>
                        <input type="text" class="form-control" id="supplierContact" name="contact" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Add Supplier</button>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}